.loader {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 9;
  overflow: hidden;
  animation: gradient 5s ease-in-out infinite;
  /* opacity: 0.2; */
}

.dot {
  width: 200px;
  height: 200px;
  margin-right: 20px;
  border-radius: 50%;
  animation: breathe 2000ms infinite;
  position: absolute;
}

.dot:nth-child(1) {
  background: #002063;
  animation-delay: 100ms;
}

.dot:nth-child(2) {
  background: #e1e9fc;
  animation-delay: 300ms;
}

.dot:nth-child(3) {
  background: #002063;
  animation-delay: 700ms;
}

.dot:nth-child(4) {
  background: #e1e9fc;
  animation-delay: 500ms;
}

@keyframes breathe {
  50% {
    width: 0;
    height: 0;
  }
  100% {
    transform: scale(1);
  }
}
