.homebackground {
  background-image: url(../../../static/background.jpg);
  background-size: cover;
  background-position: center center;
  min-height: 100%;
  height: 100vh;
  position: relative;
  background-attachment: fixed;
}

.display-2 {
  color: #ffc107;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 44px;
}

.tagline {
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", "Geneva", Verdana, sans-serif;
  font-size: 20px;
}
.links {
  color: white;
  background-color: #1b5e20;
  text-decoration: none;
  padding: 14px 16px;
  font-size: 17px;
  text-align: center;
}

.links:hover {
  background-color: white;
  color: #1b5e20;
}

@media screen and (max-width: 600px) {
  .tagline {
    font-size: 15px;
  }

  .links {
    font-size: 14px;
  }
  .display-2 {
    font-size: 30px;
  }
}
