.topnav {
  background-color: #002e38;
  overflow: hidden;
  padding-right: 2rem;
}

.logo {
  height: 50px;
}

/* .topnav NavLink {
  
} */
.nav-item {
  float: right;
  /* display: flex; */
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  /* justify-content: flex-start; */
}

.nav-item:hover {
  background-color: #008080;
  color: white;
}

.active {
  background-color: #e6b711;
  color: black;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: right;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  float: none;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  .topnav {
    padding-right: 0;
  }

  .nav-item {
    float: left;
  }

  .nav-item:not(:first-child) {
    display: none;
  }
  .topnav .icon {
    float: right;
    display: block;
    cursor: pointer;
    padding-bottom: 1rem;
  }

  .responsive {
    position: relative;
  }

  .responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .responsive .nav-item {
    float: none;
    display: block;
    text-align: center;
  }
}
